.home-page {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.home-info {
  background: #835afd;
  color: #fff;

  display: flex;
  flex: 7;
  flex-direction: column;
  justify-content: center;

  padding: 120px 80px;
}

.home-info-illustration {
  max-width: 320px;
}

.home-info-title {
  font: 700 36px 'Poppins', sans-serif;
  line-height: 42px;
  margin-top: 16px;
}

.home-info-text {
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
  color: #f8f8f8;
}

.home-main {
  flex: 8;

  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;
}

.home-main-logo {
  align-self: center;
}

.home-main-create-room {
  margin-top: 64px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #ea4335;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
  transition: filter 0.2s;
}

.home-main-create-room-img {
  margin-right: 8px;
}

.home-main-create-room:hover {
  filter: brightness(0.9);
}

.home-main-text {
  font-size: 14px;
  color: #a8a8b3;

  margin: 32px 0;
  display: flex;
  align-items: center;
}

.home-main-text::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #a8a8b3;
  margin-right: 16px;
}

.home-main-text::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #a8a8b3;
  margin-left: 16px;
}

.home-main-form-input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #a8a8b3;
  margin-bottom: 16px;
}

.home-main-form-input + button {
  width: 100%;
}

.create-new-room-text {
  font-size: 24px;
  margin: 64px 0 24px;
  font-family: 'Poppins', sans-serif;
}
