.room-page-header {
  padding: 24px;
  border-bottom: 1px solid #e2e2e2;
}

.room-page-header-content {
  max-width: 1120px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-page-header-img {
  max-height: 45px;
}

.room-page-main {
  max-width: 800px;
  margin: 0 auto;
}

.room-page-main-header {
  margin: 32px 0 24px;
  display: flex;
  align-items: center;
}

.room-page-main-header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #29292e;
}

.room-page-main-header-question-count {
  margin-left: 16px;
  background: #e559f9;
  border-radius: 9999px;
  padding: 8px 16px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.room-page-main-form-text-area {
  width: 100%;
  border: 0;
  padding: 16px;
  border-radius: 8px;
  background: #fefefe;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  resize: vertical;
  min-height: 130px;
}

.room-page-main-footer {
  align-items: center;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.room-page-main-footer-content {
  display: flex;
  align-items: center;
}

.room-page-main-footer-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.room-page-main-footer-user-name {
  font-size: 14px;
  color: #29292e;
  font-weight: 500;
  margin: 0 0 0 8px;
}

.room-page-main-footer-content-text {
  font-size: 14px;
  color: #737380;
  font-weight: 500;
  margin: 0;
}

.room-page-main-footer-content-btn-login {
  background: transparent;
  border: 0;
  color: #835fad;
  margin-left: 5px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.question-list {
  margin-top: 32px;
}
