.question-container {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;
  list-style: none;

  & + .question-container {
    margin-top: 8px;
  }

  &.hihlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;

    .question-footer-figcaption {
      color: #29292e;
    }
  }

  &.answered {
    background: #dbdcdd;
  }
}

.question-content {
  color: #292922;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  button {
    border: 0;
    background: transparent;
    cursor: pointer;
    transition: filter 0.2s;

    &.btn-like {
      display: flex;
      align-items: flex-end;
      color: #737380;
      gap: 8px;
    }

    &.liked {
      color: #835afd;

      svg path {
        stroke: #835afd;
      }
    }

    &:hover {
      filter: brightness(0.2);
      color: #835afd;
    }
  }
}

.question-footer-figure {
  display: flex;
  align-items: center;
}

.question-footer-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.question-footer-figcaption {
  margin-left: 8px;
  color: #737373;
  font-size: 14px;
}

.question-children {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
