.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #835afd;
  cursor: pointer;

  display: flex;
}

.room-code-image-box {
  background: #835afd;
  padding: 0 12px;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.room-code-text {
  display: block;
  align-self: center;
  flex: 1;
  padding: 0 16px 0 12px;
  width: 230px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
